.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 400px;
  margin: 10px auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
  
  height: 15em;
  background: gray;
  box-shadow: 20px, 30px black;
  text-align: left;
}

.label {
  margin: auto
}

.email-input {
  margin-top: 10px;
}

.password-input {
  margin: 10px
 
}

.name-input {
  margin-top: -5px;
}

.wrong-password {
  color: white;
  text-align: center;
  margin: 0px auto 0px auto;
  background:salmon;
  width: 100%;
  border-radius: 5px;
}

.signIn-btn {
  width: 200px;
  margin: 10px auto;
}