.movie-details {
	color: white;
	display: flex;
	text-shadow: 2px 2px 2px black;
}

.img-details {
	width: 30%;
	margin: 50px 50px auto 50px;
}

.details-container {
	margin: 50px 50px auto 50px;
}

.title-details {
	margin: 0px;
}

.score-details, .overview-details {
	font-size: 20px;
}