.movie {
	width: 33%;
	margin: 20px 0px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.movie-title {
	text-align: center;
	margin: 0px;
}

img {
	max-width: 100%;
}

.favorite-btn {
	position: absolute;
	top: 14px;
	left: 10px;
	background: none;
	border: none;
}